.card-box {
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.list-group{
    width: 100%;
}
.list-group-item{
    cursor: pointer;
}
.btn{
    top:80%;
    width: 100%;
    text-align: center;
}
.total{
    text-align: center;
}
.value{
    padding-left: 6px;
    padding-top: 7px;
}
#itemDescription{
    color: indianred;
}
.card-body{
    background-color: #fff1f2;
}